# Object-oriented Programming (OOP)
## 객체지향 프로그래밍
### OOP가 없다면?

### 강의에 참여하고 있는 학생을 코드로 구현해보자

In [5]:
# Student 1
student_name_1 = "John"
student_age_1 = 26

# Student 2
student_name_2 = "Jenny"
student_age_2 = 29

# Student 3
student_name_3 = "Tom"
student_age_3 = 23

### 강의실에는 학생뿐 아니라 강사진도 있으니깐 추가 ㄱㄱ

In [1]:
# Student 1
student_name_1 = "John"
student_age_1 = 21

# Student 2
student_name_2 = "Jenny"
student_age_2 = 25

# Student 3
student_name_3 = "Tom"
student_age_3 = 23

# Teacher 1
teacher_name_1 = "Olivia"
teacher_age_1 = 26

# Teacher 2
teacher_name_2 = "Dylan"
teacher_age_2 = 29

### 학생 한명 (Jenny)이 개인 사정으로 강의를 더이상 못 듣게 됐을 때

In [7]:
# Student 1
student_name_1 = "John"
student_age_1 = 21

# Student 3
student_name_3 = "Tom"
student_age_3 = 23

# Teacher 1
teacher_name_1 = "Olivia"
teacher_age_1 = 26

# Teacher 2
teacher_name_2 = "Dylan"
teacher_age_2 = 29

너무 번거롭....다....

Array와 Dictionary를 사용하면 좀 낫지 않을까?

In [12]:
students = [
    {
        "name": "John",
        "age": 21
    },
    {
        "name": "Jenny",
        "age": 25
    },
    {
        "name": "Tom",
        "age": 23
    }
]

teachers = [
    {
        "name": "Olivia",
        "age": 26
    },
    {
        "name": "Dylan",
        "age": 29
    }
]

### 다시 학생 한명 (Jenny)이 개인 사정으로 강의를 더이상 못 듣게 됐을 때

In [13]:
del students[1]

In [14]:
students

[{'age': 21, 'name': 'John'}, {'age': 23, 'name': 'Tom'}]

오~ 이건 좀 낫네 

하지만 여전히 계속해서 중복되는 name, age......

이때 필요한 것이 OOP

학생이나 선생은 결국 이름과 나이를 갖고 있는 사람!!!

논리적으로 묶어보자!!

In [28]:
class Person(object):
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def __repr__(self):
        return self.name

In [29]:
students = [Person("John", 21), Person("Jenny", 25), Person("Tom", 23)]
teachers = [Person("Olivia", 26), Person("Dylan", 29)]

In [30]:
students

[John, Jenny, Tom]

In [31]:
students[1].age

25

In [33]:
students[1].name

'Jenny'

중복이 많이 해소된 것을 확인할 수 있음

### (만약) 오늘은 2019년 12월 31일, 그리고 내일은 2020년 1월 1일  
### 사람은 누가 해가 바뀌면 나이를 먹고 강의를 듣고 있는 학생과 선생 모두 한살씩 나이가 많아지는데 어떻게 하지?

In [51]:
class Person(object):
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def __repr__(self):
        return self.name + "/" + str(self.age)
    
    def increase_age_by_one(self):
        self.age += 1

__init__: 생성자, 객체를 만들 때 가장 먼저 실행되는 부분

In [ ]:
# TODO 설명 추가

In [52]:
students = [Person("John", 21), Person("Jenny", 25), Person("Tom", 23)]
teachers = [Person("Olivia", 26), Person("Dylan", 29)]

In [53]:
students

[John/21, Jenny/25, Tom/23]

In [54]:
teachers

[Olivia/26, Dylan/29]

In [55]:
for student in students:
    student.increase_age_by_one()

for teacher in teachers:
    teacher.increase_age_by_one()

In [56]:
students

[John/22, Jenny/26, Tom/24]

In [57]:
teachers

[Olivia/27, Dylan/30]

In [398]:
class Account:
    num_accounts = 0

    def __init__(self, name):
        self.name = name
        self.__class__.num_accounts += 1

    def __del__(self):
        self.__class__.num_accounts -= 1


kim = Account("kim")
print(kim.num_accounts)
print(Account.num_accounts)

lee = Account("lee")
print(lee.num_accounts)
print(Account.num_accounts)

park = Account("park")
print(kim.num_accounts)
print(Account.num_accounts)

del kim
print(Account.num_accounts)

del lee
print(Account.num_accounts)

del park
print(Account.num_accounts)

1
1
2
2
3
3
2
1
0