# Object-oriented Programming (OOP)
## 객체지향 프로그래밍
### OOP가 없다면?

### 강의에 참여하고 있는 학생을 코드로 구현해보자

In [5]:
# Student 1
student_name_1 = "John"
student_age_1 = 26

# Student 2
student_name_2 = "Jenny"
student_age_2 = 29

# Student 3
student_name_3 = "Tom"
student_age_3 = 23

### 강의실에는 학생뿐 아니라 강사진도 있으니깐 추가 ㄱㄱ

In [1]:
# Student 1
student_name_1 = "John"
student_age_1 = 21

# Student 2
student_name_2 = "Jenny"
student_age_2 = 25

# Student 3
student_name_3 = "Tom"
student_age_3 = 23

# Teacher 1
teacher_name_1 = "Olivia"
teacher_age_1 = 26

# Teacher 2
teacher_name_2 = "Dylan"
teacher_age_2 = 29

### 학생 한명 (Jenny)이 개인 사정으로 강의를 더이상 못 듣게 됐을 때

In [7]:
# Student 1
student_name_1 = "John"
student_age_1 = 21

# Student 3
student_name_3 = "Tom"
student_age_3 = 23

# Teacher 1
teacher_name_1 = "Olivia"
teacher_age_1 = 26

# Teacher 2
teacher_name_2 = "Dylan"
teacher_age_2 = 29

너무 번거롭....다....

Array와 Dictionary를 사용하면 좀 낫지 않을까?

In [12]:
students = [
    {
        "name": "John",
        "age": 21
    },
    {
        "name": "Jenny",
        "age": 25
    },
    {
        "name": "Tom",
        "age": 23
    }
]

teachers = [
    {
        "name": "Olivia",
        "age": 26
    },
    {
        "name": "Dylan",
        "age": 29
    }
]

### 다시 학생 한명 (Jenny)이 개인 사정으로 강의를 더이상 못 듣게 됐을 때

In [13]:
del students[1]

In [14]:
students

[{'age': 21, 'name': 'John'}, {'age': 23, 'name': 'Tom'}]

오~ 이건 좀 낫네 

하지만 여전히 계속해서 중복되는 name, age......

이때 필요한 것이 OOP

학생이나 선생은 결국 이름과 나이를 갖고 있는 사람!!!

논리적으로 묶어보자!!

In [28]:
class Person(object):
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def __repr__(self):
        return self.name

In [29]:
students = [Person("John", 21), Person("Jenny", 25), Person("Tom", 23)]
teachers = [Person("Olivia", 26), Person("Dylan", 29)]

In [30]:
students

[John, Jenny, Tom]

In [31]:
students[1].age

25

In [33]:
students[1].name

'Jenny'

중복이 많이 해소된 것을 확인할 수 있음

### (만약) 오늘은 2019년 12월 31일, 그리고 내일은 2020년 1월 1일  
### 사람은 누가 해가 바뀌면 나이를 먹고 강의를 듣고 있는 학생과 선생 모두 한살씩 나이가 많아지는데 어떻게 하지?

In [51]:
class Person(object):
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def __repr__(self):
        return self.name + "/" + str(self.age)
    
    def increase_age_by_one(self):
        self.age += 1

__init__: 생성자, 객체를 만들 때 가장 먼저 실행되는 부분

In [ ]:
# TODO 설명 추가

In [52]:
students = [Person("John", 21), Person("Jenny", 25), Person("Tom", 23)]
teachers = [Person("Olivia", 26), Person("Dylan", 29)]

In [53]:
students

[John/21, Jenny/25, Tom/23]

In [54]:
teachers

[Olivia/26, Dylan/29]

In [55]:
for student in students:
    student.increase_age_by_one()

for teacher in teachers:
    teacher.increase_age_by_one()

In [56]:
students

[John/22, Jenny/26, Tom/24]

In [57]:
teachers

[Olivia/27, Dylan/30]

### 클래스 static variable

In [398]:
class Account:
    num_accounts = 0

    def __init__(self, name):
        self.name = name
        self.__class__.num_accounts += 1

    def __del__(self):
        self.__class__.num_accounts -= 1


kim = Account("kim")
print(kim.num_accounts)
print(Account.num_accounts)

lee = Account("lee")
print(lee.num_accounts)
print(Account.num_accounts)

park = Account("park")
print(kim.num_accounts)
print(Account.num_accounts)

del kim
print(Account.num_accounts)

del lee
print(Account.num_accounts)

del park
print(Account.num_accounts)

1
1
2
2
3
3
2
1
0

### static method

In [21]:
class Person(object):
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def __repr__(self):
        return self.name + "/" + str(self.age)
    
    def increase_age_by_one(self):
        self.age += 1
        
    def is_adult(self):
        return self.age >= 20

In [22]:
john = Person("Teddy", 18)
john.is_adult()

False

In [23]:
olivia = Person("Olivia", 26)
olivia.is_adult()

True

In [24]:
class Person(object):
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def __repr__(self):
        return self.name + "/" + str(self.age)
    
    def increase_age_by_one(self):
        self.age += 1
    
    @staticmethod
    def is_adult(age):
        return age >= 20

In [26]:
olivia = Person("Olivia", 26)
Person.is_adult(olivia.age)

True

In [27]:
Person.is_adult(age=5)

False

### static method vs class method

In [1]:
class Calculator(object):
    @staticmethod
    def add(a, b):
        return a + b
    
    @staticmethod
    def sub(a, b):
        return a - b

In [2]:
Calculator.add(3, 5)

8

In [3]:
Calculator.sub(3, 5)

-2

In [7]:
class Calculator(object):
    @classmethod
    def add(cls, a, b):
        return a + b
    
    @classmethod
    def sub(cls, a, b):
        return a - b

In [8]:
Calculator.add(3, 5)

8

In [9]:
Calculator.sub(3, 5)

-2

In [31]:
class Person(object):
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def __repr__(self):
        return self.name + "/" + str(self.age)
    
    @staticmethod
    def get_person_list(data):
        result = []
        for name, age in data:
            result.append(Person(name, age))
        return result

In [32]:
data = [("John", 21), ("Olivia", 26)]

In [33]:
person_list = Person.get_person_list(data)

In [34]:
person_list

[John/21, Olivia/26]

In [37]:
class Person(object):
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def __repr__(self):
        return self.name + "/" + str(self.age)
    
    @classmethod
    def get_person_list(cls, data):
        result = []
        for name, age in data:
            result.append(cls(name, age))
        return result

In [38]:
data = [("John", 21), ("Olivia", 26)]
person_list = Person.get_person_list(data)

In [39]:
person_list

[John/21, Olivia/26]

In [40]:
class Account:
    num_accounts = 0

    def __init__(self, name):
        self.name = name
        self.__class__.num_accounts += 1

    def __del__(self):
        self.__class__.num_accounts -= 1
    
    @staticmethod
    def print_num_accounts():
        print(Account.num_accounts)

In [41]:
Account.print_num_accounts()

0

In [42]:
kim = Account("kim")
Account.print_num_accounts()

1

In [43]:
class Account:
    num_accounts = 0

    def __init__(self, name):
        self.name = name
        self.__class__.num_accounts += 1

    def __del__(self):
        self.__class__.num_accounts -= 1
    
    @classmethod
    def print_num_accounts(cls):
        print(cls.num_accounts)

In [44]:
Account.print_num_accounts()

0

In [45]:
kim = Account("kim")
Account.print_num_accounts()

1

### 상속

In [49]:
class Person(object):
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def __repr__(self):
        return self.name

학생과 선생님은 사람이지 필요한 field가 아래의 경우처럼 미세하게 다를 때 어떻게 구현하나?

시스템에서 학생들의 성적을 관리하기 위해 학생은 추가로 시험점수를 넣은 변수가 필요하다.

시스템에서 선생님의 월급을 관리하기 위해 선생님은 추가로 월급을 넣을 변수가 필요하다.

In [50]:
class Person(object):
    def __init__(self, name, age, score, salary):
        self.name = name
        self.age = age
        self.score = score
        self.salary = salary
        
    def __repr__(self):
        return self.name

In [55]:
students = [Person("John", 21, 100, None), Person("Jenny", 25, 80, None), Person("Tom", 23, 90, None)]
teachers = [Person("Olivia", 26, None, 250), Person("Dylan", 29, None, 200)]

In [67]:
print(students[0].name, students[0].score)

John 100

In [68]:
print(teachers[0].name, teachers[0].salary)

Olivia 250

1. 불필요한 파라미터가 생김 => 비효율
2. Person의 객체들에게 score, salary가 name, age처럼 논리적으로 합당한가?

In [69]:
class Student(object):
    def __init__(self, name, age, score):
        self.name = name
        self.age = age
        self.score = score
        
    def __repr__(self):
        return self.name

In [70]:
class Teacher(object):
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
        
    def __repr__(self):
        return self.name

In [71]:
students = [Student("John", 21, 100), Student("Jenny", 25, 80), Student("Tom", 23, 90)]
teachers = [Teacher("Olivia", 26, 250), Teacher("Dylan", 29, 200)]

In [72]:
print(students[0].name, students[0].score)

John 100

In [73]:
print(teachers[0].name, teachers[0].salary)

Olivia 250

1. 불필요한 파라미터가 생김 => 비효율
2. Person의 객체들에게 score, salary가 name, age처럼 논리적으로 합당한가?
=> 두 문제 모두 해결


하지만 Student에도 name, age, Teacher에도 name, age 중복이 너무 많음 ㅠㅠ

=> 상속!!!

In [76]:
class Person(object):
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def __repr__(self):
        return self.name

In [77]:
class Student(Person):
    def __init__(self, name, age, score):
        super().__init__(name, age)
        self.score = score

In [78]:
class Teacher(Person):
    def __init__(self, name, age, salary):
        super().__init__(name, age)
        self.salary = salary

In [79]:
students = [Student("John", 21, 100), Student("Jenny", 25, 80), Student("Tom", 23, 90)]
teachers = [Teacher("Olivia", 26, 250), Teacher("Dylan", 29, 200)]

In [80]:
print(students[0].name, students[0].score)

John 100

In [81]:
print(teachers[0].name, teachers[0].salary)

Olivia 250

In [82]:
person = Person("Nami", 22)

In [83]:
print(person.name, person.age)

Nami 22

코드 중복을 해결함

In [90]:
class Person(object):
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def __repr__(self):
        return self.name
    
    def print_identity(self):
        print("%s님은 사람 입니다." % (self.name))

In [91]:
class Student(Person):
    def __init__(self, name, age, score):
        super().__init__(name, age)
        self.score = score
    
    def print_identity(self):
        print("%s님은 학생 입니다." % (self.name))

In [92]:
class Teacher(Person):
    def __init__(self, name, age, salary):
        super().__init__(name, age)
        self.salary = salary
            
    def print_identity(self):
        print("%s님은 선생님 입니다." % (self.name))

In [93]:
person = Person("Nami", 22)
person.print_identity()
student = Student("John", 21, 100)
student.print_identity()
teacher = Teacher("Olivia", 26, 250)
teacher.print_identity()

Nami님은 사람 입니다.
John님은 학생 입니다.
Olivia님은 선생님 입니다.

디바이스 => turn_on(), turn_off()
선풍기(디바이스) => start_rotation() 
휴대폰(디바이스) => ring()